{% load thumbnail %}

<div class="dossier">
	{% if dossier.photo %}
		<div class="dossierPhoto" rel="#dossierPhotoOverlay{{ dossier.pk }}">
			<img src="{% thumbnail dossier.photo 160x180 crop sharpen %}" alt="{{ dossier.name }}" />
		</div>
	{% endif %}
	<div class="text">
		<div class="name">{{ dossier.name }}</div>
		<div class="description">{{ dossier.description|safe }}</div>
	</div>
</div>

<div class="simple_overlay dossierPhotoOverlay" id="dossierPhotoOverlay{{ dossier.pk }}">
	<img src="{{ dossier.photo.url }}" alt="{{ dossier.name }}" />
	<div class="details">
		<p>{{ dossier.name }}</p>
	</div>
</div>